<app-master-layout></app-master-layout>
<div class="content-wrapper object-types-contents">
  <div class="content-wrapper__data-title">
    <div class="row data-highlight d-flex align-items-center m-0">
      <div
        class="title-holder col-lg-auto col-12 d-flex align-items-center p-0"
      >
        <span>
          <img class="default-icon" src="/assets/svgs/share-2-ic.svg" />
          <img class="hover-icon" src="/assets/svgs/share-2-ic-red.svg" />
        </span>
        <h3>User Groups</h3>
      </div>
      <div
        class="btn-wrapper action-triger-wrap btn__inline col-lg-auto col-6 col-md-12 mt-3 mt-md-4 mt-lg-0 d-flex justify-content-xl-end p-0 ml-auto"
      >
        <a
          *ngIf="getTotalSelectedGroups()"
          (click)="onDeleteMultipleGroups()"
          class="btn transparent-btn medium ml-0"
        >
          <span class="icon-wrap">
            <img
              class="default-icon"
              src="/assets/svgs/trash-ic.svg"
              alt="Trash icon"
            />
            <img
              class="dark-active"
              src="/assets/svgs/trash-ic-white.svg"
              alt="Trash icon Red"
            />
          </span>
          <dfn class="d-none d-md-block">
            Delete Selected ({{ getTotalSelectedGroups() }})
          </dfn>
        </a>
        <a
          routerLink="/administration/user-groups/add"
          class="btn transparent-btn"
        >
          <span class="icon-wrap">
            <img
              class="default-icon"
              src="/assets/svgs/plus-ic.svg"
              alt="Plus icon "
            />
            <img
              class="dark-active"
              src="/assets/svgs/plus-ic-white.svg"
              alt="Plus icon Red"
            />
          </span>
          <span class="d-md-none icon-wrap">
            <img src="/assets/svgs/folder-ic.svg" alt="folder icon " />
            <img src="/assets/svgs/folder-ic-red.svg" alt="folder icon " />
          </span>
          <dfn class="d-none d-md-block">Create Group</dfn>
        </a>
      </div>
    </div>
  </div>
  <div class="content-details list-view">
    <div class="row m-0">
      <div class="col-12 px-0 data-nav">
        <table class="table">
          <thead class="list-item list-heading">
            <tr class="data-highlight-info">
              <th style="padding-left: 0px">
                <div class="d-flex align-items-center">
                  <div class="check-wrap">
                    <input
                      type="checkbox"
                      id="select-all"
                      (change)="selectAllRecords($event)"
                      [checked]="isAllReSelected"
                    />
                    <label for="select-all"></label>
                  </div>
                  <div
                    (click)="sortBy('name')"
                    class="cursor-pointer"
                    style="padding-left: 24px"
                  >
                    Name
                    <button class="btn btn-sort">
                      <img
                        src="/assets/svgs/chevron-up-ic.svg"
                        *ngIf="defaultSort == 'name_asc'"
                      />
                      <img
                        src="/assets/svgs/chevron-down-ic.svg"
                        *ngIf="defaultSort == 'name_desc'"
                      />
                    </button>
                  </div>
                </div>
              </th>
              <th class="created-on cursor-pointer" (click)="sortBy('users')">
                Users
                <button class="btn btn-sort">
                  <img
                    src="/assets/svgs/chevron-down-ic.svg"
                    *ngIf="defaultSort == 'users_desc'"
                  />
                  <img
                    src="/assets/svgs/chevron-up-ic.svg"
                    *ngIf="defaultSort == 'users_asc'"
                  />
                </button>
              </th>
              <th class="created-on cursor-pointer" (click)="sortBy('created')">
                Created On
                <button class="btn btn-sort">
                  <img
                    src="/assets/svgs/chevron-down-ic.svg"
                    *ngIf="defaultSort == 'created_date_desc'"
                  />
                  <img
                    src="/assets/svgs/chevron-up-ic.svg"
                    *ngIf="defaultSort == 'created_date_asc'"
                  />
                </button>
              </th>
              <th
                class="last-updated cursor-pointer"
                (click)="sortBy('updated')"
              >
                Updated On
                <button class="btn btn-sort">
                  <img
                    src="/assets/svgs/chevron-down-ic.svg"
                    *ngIf="defaultSort == 'updated_date_desc'"
                  />
                  <img
                    src="/assets/svgs/chevron-up-ic.svg"
                    *ngIf="defaultSort == 'updated_date_asc'"
                  />
                </button>
              </th>
              <th
                class="last-updated cursor-pointer"
                (click)="sortBy('created_by')"
              >
                Created By
                <button class="btn btn-sort">
                  <img
                    src="/assets/svgs/chevron-down-ic.svg"
                    *ngIf="defaultSort == 'created_by_desc'"
                  />
                  <img
                    src="/assets/svgs/chevron-up-ic.svg"
                    *ngIf="defaultSort == 'created_by_asc'"
                  />
                </button>
              </th>
              <th
                class="last-updated cursor-pointer"
                (click)="sortBy('updated_by')"
              >
                Last Updated By
                <button class="btn btn-sort">
                  <img
                    src="/assets/svgs/chevron-down-ic.svg"
                    *ngIf="defaultSort == 'updated_by_desc'"
                  />
                  <img
                    src="/assets/svgs/chevron-up-ic.svg"
                    *ngIf="defaultSort == 'updated_by_asc'"
                  />
                </button>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="list-item"
              *ngFor="let item of groups"
              (contextmenu)="onUserTypeOptions($event, item, true)"
            >
              <td class="data-call">
                <div class="d-flex align-items-center">
                  <div class="check-wrap">
                    <input
                      type="checkbox"
                      [id]="'group_item_' + item.id"
                      [disabled]="item.name=='All users' || item.name=='Anyone'" 
                      (change)="checkGroupItem($event, item)"
                      [checked]="groupCheckedItems[item.id]"
                    />
                    <label [for]="'group_item_' + item.id"></label>
                  </div>
                  <div class="title-holder d-flex align-items-center w-100">
                    <span
                      [routerLink]="
                        '/administration/user-groups/' + item.id + '/edit'
                      "
                    >
                      <img
                        src="/assets/svgs/share-2-ic.svg"
                        class="static-icon"
                      />
                      <img
                        src="/assets/svgs/share-2-ic-red.svg"
                        class="dark-active"
                      />
                    </span>
                    <ng-container *ngIf="renameGroupData.id !== item.id && item.name=='All users'|| item.name=='Anyone'"  >
                      <dfn >{{ item.name }}</dfn>
                  </ng-container>
                  <ng-container *ngIf="renameGroupData.id !== item.id && item.name!=='All users' && item.name!=='Anyone'">
                      <dfn
                        [routerLink]="
                          '/administration/user-groups/' + item.id + '/edit'
                        "
                        class="cursor-pointer"
                        >{{ item.name }}</dfn
                      >
                    </ng-container>
                    <div
                      class="form-group w-100"
                      *ngIf="renameGroupData.id == item.id"
                    >
                      <input
                        type="text"
                        class="form-control"
                        [id]="'rename_' + item.id"
                        [value]="item.name"
                        (keyup)="onRenameKeyup($event, item)"
                      />
                    </div>
                  </div>
                </div>
              </td>
              <td class="created-on">
                <span>{{ item.group_users }}</span>
              </td>
              <td class="created-on">{{ item.created_date }}</td>
              <td class="last-updated">{{ item.updated_date }}</td>
              <td class="last-updated">{{ item.created_by }}</td>
              <td class="last-updated">{{ item.updated_by }}</td>
              <td>
                <div class="float-right position-relative" *ngIf="item.name!=='All users' && item.name!=='Anyone'">
                  <div
                    class="action-hold d-flex align-items-center"
                    [ngClass]="{
                      'options-shown':
                        groupExpandOptions.id == item.id &&
                        groupExpandOptions.type == 'fixed'
                    }"
                  >
                    <button
                      class="more-btn action-btn"
                      [ngClass]="{ active: groupExpandOptions.id == item.id }"
                      (click)="onUserTypeOptions($event, item, false)"
                    >
                      <img
                        src="/assets/svgs/more-vertical-ic-2.svg"
                        alt="More icon"
                      />
                    </button>
                    <div class="dropdown-wrap">
                      <div class="dropdown-info rightBoxModalHeight">
                        <button
                          [routerLink]="
                            '/administration/user-groups/' + item.id + '/edit'
                          "
                        >
                          User Assignments
                        </button>
                        <button (click)="renameGroup(item)">Rename</button>
                        <button (click)="deleteGroup(item)">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <div
                class="float-right position-relative"
                style="{{
                  groupExpandOptions.id == item.id &&
                  groupExpandOptions.type == 'float'
                    ? 'right:' + groupExpandOptions.right + 'px;'
                    : ''
                }}"
              >
                <div
                  class="action-hold d-flex align-items-center"
                  [ngClass]="{
                    'options-shown float-menu-no-box':
                      groupExpandOptions.id == item.id &&
                      groupExpandOptions.type == 'float'
                  }"
                >
                  <div class="dropdown-wrap">
                    <div class="dropdown-info rightBoxModalHeight">
                      <button
                        [routerLink]="
                          '/administration/user-groups/' + item.id + '/edit'
                        "
                      >
                        User Assignments
                      </button>
                      <button (click)="renameGroup(item)">Rename</button>
                      <button (click)="deleteGroup(item)">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
        <div class="load-more-wrap" *ngIf="currentPage && currentPage < pages">
          <section *ngIf="isLoadingUserGroups" class="mt-1">
            <img
              src="/assets/img/loader.gif"
              class="w24 vertical-align-middle mr-1"
            />
            <b>Loading</b>
          </section>
          <button
            class="btn"
            (click)="loadGroups(currentPage + 1)"
            *ngIf="!isLoadingUserGroups"
          >
            Load more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #confirmDeleteGroupsItemModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center">Confirmation Required</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('dismiss')"
    >
      <span aria-hidden="true">
        <img src="/assets/svgs/modal-x-ic.svg" alt="X icon" />
      </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      Are you sure you want to delete following item(s)?
      <ul class="mt-2 list-style-inside">
        <ng-container *ngIf="!deleteSingleItem">
          <li
            class="mb-1"
            *ngFor="let item of groupCheckedItems | keyvalue; let index = index"
          >
            <div class="folder-model-box-sm">
              <span class="text-bold text-dark">
                {{ item.value.name }}
              </span>
            </div>
          </li>
        </ng-container>
        <li class="mb-1" *ngIf="deleteSingleItem">
          <div class="folder-model-box-sm">
            <span class="text-bold text-dark">
              {{ deleteSingleItemData.name }}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <div class="row row-cols-1 row-cols-sm-2 no-gutters m-0">
      <div class="col pr-sm-2">
        <button
          type="button"
          class="btn transparent-btn w-100"
          data-dismiss="modal"
          (click)="modal.dismiss('dismiss')"
        >
          No
        </button>
      </div>
      <div class="col pl-sm-2">
        <button
          type="button"
          class="btn btn-red w-100"
          (click)="processGroupDeleteProcess()"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</ng-template>
