<app-master-layout></app-master-layout>
<div class="content-wrapper object-types-contents">
    <div class="content-wrapper__data-title">
        <div class="row data-highlight d-flex align-items-center m-0">
            <div class="title-holder col-lg-auto col-6 d-flex align-items-center p-0">
                <span>
                    <img class="default-icon" src="/assets/svgs/metamodel-ic-dark.svg" alt="Metamodel icon">
                    <img class="hover-icon" src="/assets/svgs/metamodel-ic-red.svg" alt="Metamodel icon red">
                </span>
                <h3>Metamodels</h3>
            </div>
            <div class="btn-wrapper action-triger-wrap btn__inline col-lg-auto col-6 col-md-12 mt-sm-3 mt-md-4 mt-lg-0 d-flex justify-content-xl-end p-0 ml-auto">
                <a class="btn transparent-btn  ml-0">
                    <input type="file" id="excel_import" class="d-none" accept=".xml" #xmlFileFetech (change)="onXmlFileFetechData($event)">
                    <a class="p-1 mb-0 cursor-pointer"  (click)="onFetchXmlData()">
                        <span class="icon-wrap">
                            <img src="/assets/svgs/import-ic.svg" alt="Import icon" class="icon">
                        </span>
                        <dfn class="d-md-block">
                            Import
                         </dfn>
                        </a>
                </a>
                <a class="btn transparent-btn  ml-0" *ngIf="getTotalSelectedMetamodels()" (click)="exportMetaModels()">
                    <a  class="p-1 mb-0 cursor-pointer">
                        <span class="icon-wrap">
                            <img src="/assets/svgs/external-link-ic.svg" alt="Export link icon">
                        </span>
                        <dfn class="d-md-block">
                        Export
                        </dfn>
                    </a>
                </a>
            
                <a *ngIf="getTotalSelectedMetamodels()" (click)="onDeleteMultipleMetamodels()" class="btn transparent-btn medium ml-0">
                    <span class="icon-wrap">
                        <img class="default-icon" src="/assets/svgs/trash-ic.svg" alt="Trash icon">
                        <img class="dark-active" src="/assets/svgs/trash-ic-white.svg" alt="Trash icon Red">
                    </span>
                    <dfn class="d-none d-md-block">
                        Delete Selected ({{ getTotalSelectedMetamodels() }})
                    </dfn>
                </a>
                <a routerLink="/metamodel/metamodel-manager/add" class="btn transparent-btn medium">
                    <span class="icon-wrap">
                        <img class="default-icon" src="/assets/svgs/plus-ic.svg" alt="Plus icon ">
                        <img class="dark-active" src="/assets/svgs/plus-ic-white.svg" alt="Plus icon Red">
                    </span>
                    <span class="d-md-none icon-wrap">
                        <img class="default-icon" src="/assets/svgs/object-type-layers-ic.svg" alt="folder icon ">
                        <img class="dark-active" src="/assets/svgs/object-type-layers-ic-red.svg" alt="folder icon ">
                    </span>
                    <dfn class="d-none d-md-block">Create Metamodel</dfn>
                </a>
            </div>
        </div>
    </div>
    <div class="content-details list-view">
        <div class="row m-0">
            <div class="col-12 px-0 data-nav">
                <table class="table">
                    <thead class="list-item list-heading">
                        <tr class="data-highlight-info">
                            <th style="padding-left: 0px;">
                                <div class="d-flex align-items-center">
                                    <div class="check-wrap">
                                        <input type="checkbox" id="select-all" (change)="selectAllRecords($event)" [checked]="isAllReSelected">
                                        <label for="select-all"></label>
                                    </div>
                                <div (click)="sortBy('name')" class="cursor-pointer" style="padding-left: 24px;">
                                    Name
                                    <button class="btn btn-sort">
                                        <img src="/assets/svgs/chevron-up-ic.svg" *ngIf="defaultSort == 'name_asc'">
                                        <img src="/assets/svgs/chevron-down-ic.svg" *ngIf="defaultSort == 'name_desc'">
                                    </button>
                                </div>
                                </div>
                            </th>
                            <th>
                                Default Primary
                            </th>
                            <th class="created-on cursor-pointer" (click)="sortBy('default')">
                                Default
                                <button class="btn btn-sort">
                                    <img src="/assets/svgs/chevron-up-ic.svg" *ngIf="defaultSort == 'default_asc'">
                                    <img src="/assets/svgs/chevron-down-ic.svg" *ngIf="defaultSort == 'default_desc'">
                                </button>
                            </th>
                            <th class="created-on cursor-pointer" (click)="sortBy('created')">
                                Created On
                                <button class="btn btn-sort">
                                    <img src="/assets/svgs/chevron-down-ic.svg" *ngIf="defaultSort == 'created_date_desc'">
                                    <img src="/assets/svgs/chevron-up-ic.svg" *ngIf="defaultSort == 'created_date_asc'">
                                </button>
                            </th>
                            <th class="last-updated cursor-pointer" (click)="sortBy('updated')">
                                Updated On
                                <button class="btn btn-sort">
                                    <img src="/assets/svgs/chevron-down-ic.svg" *ngIf="defaultSort == 'updated_date_desc'">
                                    <img src="/assets/svgs/chevron-up-ic.svg" *ngIf="defaultSort == 'updated_date_asc'">
                                </button>
                            </th>
                            <th class="created-by cursor-pointer" (click)="sortBy('created_by')">
                                Created By
                                <button class="btn btn-sort">
                                    <img src="/assets/svgs/chevron-down-ic.svg" *ngIf="defaultSort == 'created_by_desc'">
                                    <img src="/assets/svgs/chevron-up-ic.svg" *ngIf="defaultSort == 'created_by_asc'">
                                </button>
                            </th>
                            <th class="created-on cursor-pointer" (click)="sortBy('updated_by')">
                                Last Updated By
                                <button class="btn btn-sort">
                                    <img src="/assets/svgs/chevron-down-ic.svg" *ngIf="defaultSort == 'updated_by_desc'">
                                    <img src="/assets/svgs/chevron-up-ic.svg" *ngIf="defaultSort == 'updated_by_asc'">
                                </button>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="list-item" *ngFor="let item of metamodels" (contextmenu)="onMetamodelOptions($event, item, true)">
                            <td class="data-call">
                                <div class="d-flex align-items-center">
                                    <div class="check-wrap">
                                        <input type="checkbox" [id]="'attribute_type_item_' + item.id" (change)="checkMetamodelItem($event, item)" [checked]="metaModelCheckedItems[item.id]">
                                        <label [for]="'attribute_type_item_' + item.id"></label>
                                    </div>
                                    <div class="title-holder d-flex align-items-center w-100">
                                        <span class="cursor-pointer" [routerLink]="'/metamodel/metamodel-manager/' + item.id + '/edit'">
                                            <img class="static-icon" src="/assets/svgs/metamodel-ic-dark.svg" alt="Metamodel icon">
                                            <img class="dark-active" src="/assets/svgs/metamodel-ic-red.svg" alt="Metamodel icon red">
                                        </span>
                                        <ng-container *ngIf="renameMetamodelData.id !== item.id">
                                            <dfn [routerLink]="'/metamodel/metamodel-manager/' + item.id + '/edit'" class="cursor-pointer">
                                                {{ item.name }}
                                            </dfn>
                                        </ng-container>
                                        <div class="form-group w-100" *ngIf="renameMetamodelData.id == item.id">
                                            <input type="text" class="form-control" [id]="'rename_' + item.id" [value]="item.name" (keyup)="onRenameKeyup($event, item)">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <input type="radio" *ngIf="item.default"
                                (click)="onMetamodelPrimaryDefaultUpdate(item,$event)"
                                name="item.name"

                                [checked]="item.default_primary"
                                style="width: 18px;height: 18px;"
                                >

                            </td>

                            
                            <td class="created-on">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" [id]="'default_' + item.id" [checked]="item.default" (change)="onMetamodelDefaultUpdate($event, item)">
                                    <label class="custom-control-label" [for]="'default_' + item.id"></label>
                                </div>
                            </td>
                            <td class="created-on cursor-pointer" [routerLink]="'/metamodel/metamodel-manager/' + item.id + '/edit'">{{ item.created_date }}</td>
                            <td class="last-updated cursor-pointer" [routerLink]="'/metamodel/metamodel-manager/' + item.id + '/edit'">{{ item.updated_date }}</td>
                            <td class="created-by cursor-pointer" [routerLink]="'/metamodel/metamodel-manager/' + item.id + '/edit'">{{ item.created_by }}</td>
                            <td class="created-on cursor-pointer" [routerLink]="'/metamodel/metamodel-manager/' + item.id + '/edit'">{{ item.updated_by }}</td>
                            <td>
                                <div class="float-right position-relative">
                                    <div class="action-hold d-flex align-items-center" [ngClass]="{ 'options-shown': metaModelExpandOptions.id == item.id && metaModelExpandOptions.type == 'fixed' }">
                                        <button class="more-btn action-btn" [ngClass]="{ 'active': metaModelExpandOptions.id == item.id }" (click)="onMetamodelOptions($event, item, false)">
                                            <img src="/assets/svgs/more-vertical-ic-2.svg" alt="More icon">
                                        </button>
                                        <div class="dropdown-wrap">
                                            <div class="dropdown-info">
                                                <button (click)="renameMetamodel(item)">Rename</button>
                                                <button (click)="deleteMetamodel(item)">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <div class="float-right position-relative" style="{{ metaModelExpandOptions.id == item.id && metaModelExpandOptions.type == 'float' ? 'right:' + metaModelExpandOptions.right + 'px;' : '' }}">
                                <div class="action-hold d-flex align-items-center" [ngClass]="{ 'options-shown float-menu-no-box': metaModelExpandOptions.id == item.id && metaModelExpandOptions.type == 'float' }">
                                    <div class="dropdown-wrap">
                                        <div class="dropdown-info">
                                            <button (click)="renameMetamodel(item)">Rename</button>
                                            <button (click)="deleteMetamodel(item)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="load-more-wrap" *ngIf="currentPage && currentPage < pages">
            <section *ngIf="isLoadingMetamodels" class="mt-1">
                <img src="/assets/img/loader.gif" class="w24 vertical-align-middle mr-1">
                <b>Loading</b>
            </section>
            <button class="btn" (click)="loadMetamodels(currentPage + 1)" *ngIf="!isLoadingMetamodels">Load more</button>
        </div>
    </div>
</div>

<ng-template #confirmDeleteMetamodelItemModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">
            Confirmation Required
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('dismiss')">
            <span aria-hidden="true">
                <img src="/assets/svgs/modal-x-ic.svg" alt="X icon">
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            Are you sure you want to delete following item(s)?
            <ul class="mt-2 list-unstyled">
                <ng-container *ngIf="!deleteSingleItem">
                    <li class="mb-1" *ngFor="let item of metaModelCheckedItems | keyvalue; let index = index;">
                        <div class="folder-model-box-sm">
                            <span class="text-bold text-dark">
                                {{ item.value.name }}
                            </span>
                        </div>
                    </li>
                </ng-container>
                <li class="mb-1" *ngIf="deleteSingleItem">
                    <div class="folder-model-box-sm">
                        <span class="text-bold text-dark">
                            {{ deleteSingleItemData.name }}
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <div class="row row-cols-1 row-cols-sm-2 no-gutters m-0">
            <div class="col pr-sm-2">
                <button type="button" class="btn transparent-btn w-100" data-dismiss="modal" (click)="modal.dismiss('dismiss')">No</button>
            </div>
            <div class="col pl-sm-2">
                <button type="button" class="btn btn-red w-100" (click)="processMetamodelDelete()">Yes</button>
            </div>
        </div>
    </div>
</ng-template>
